{% extends 'frontend/dashboard-base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Dashboard{% endblock %}
{% block dashboard_active %}active{% endblock %}
{% block onloader %}onload="dashboard_load_func()"{% endblock %}
{% block body %}
<div class="main-panel">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-success">
              <h4 class="card-title">Next Ovulation Date</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title">22 Jan</h2>
            </div>
            <div class="card-footer">
              <div class="stats">
                Fertilisation Period -
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-warning">
              <h4 class="card-title">Next Period Date</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title">22 Jan </h2>
            </div>
            <div class="card-footer">
              <div class="stats">
                Set your dates
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Profile Completion</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title" id="profile_label">51%</h2>
            </div>
            <div class="card-footer">
              <div class="stats">
                 <a href="{% url 'frontend:profile-page' %}">Complete your profile</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Calendar</h4>
              <p class="card-category" id="today"> View Important Dates</p>
            </div>
            <div class="card-body">
              <h4 class="card-title" style="text-align: center;"  id="thismonth">Calendar</h4>
              <br>
              <div class="table-responsive">
                <table class="table" id="calendar_table">
                  <thead class=" text-primary">
                    <tr>
                      <th>
                        Sun
                      </th>
                      <th>
                        Mon
                      </th>
                      <th>
                        Tue
                      </th>
                      <th>
                        Wed
                      </th>
                      <th>
                        Thu
                      </th>
                      <th>
                        Fri
                      </th>
                      <th>
                        Sat
                      </th>
                    </tr>
                  </thead>
                  <tbody id="calendar">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
