{% extends 'frontend/dashboard-base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}User Profile{% endblock %}
{% block onloader %}onload="profile_load_func()"{% endblock %}
{% block profile_active %}active{% endblock %}
{% block body %}
<div class="main-panel">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Edit Profile</h4>
              <p class="card-category">Complete your profile</p>
            </div>
            <div class="card-body">
              <br>
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Username</label>
                      <input type="text" id="username" class="form-control" disabled value=" ">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Email address</label>
                      <input type="email" id="email" class="form-control" disabled value="abc@xyz.com">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">First Name</label>
                      <input type="text" class="form-control" id="fname" value=" ">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Last Name</label>
                      <input type="text" class="form-control" id="lname" value=" ">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Period Cycle Time (default set to 28)</label>
                      <input type="number" class="form-control" min = "1" value="28" id="ctime">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">General Period Duration (default set to 4)</label>
                      <input type="number" class="form-control" min = "1" value = "4" id="ltime">
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-primary pull-right" onclick="update_profile()" id="update_profile_btn" data_url = "{% url 'update-profile' %}">Update Profile</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <label for="profile-pic">
                <img class="img" id="picture" onmouseover="hover(this)" onmouseout="unhover(this)" src="https://res.cloudinary.com/do8xzkgcs/image/upload/v1571618470/gbvmr9fwrwcz9xp0ycos.png">
              </label>
                <input type="file" onchange="previewFile()" style="display:none;" id="profile-pic" accept="image/x-png,image/gif,image/jpeg">
            </div>
            <div class="card-body">
              <h4 class="card-title">User Profile</h4>
              <div class="card-description">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <tbody>
                        <tr>
                          <td><b>First Name:</b></td>
                          <td id="fname_label"></td>
                        </tr>
                        <tr>
                          <td><b>Last Name:</b></td>
                          <td id="lname_label"></td>
                        </tr>
                        <tr>
                          <td><b>Period Cycle:</b></td>
                          <td id="cycle_label"></td>
                        </tr>
                        <tr>
                          <td><b>Period Duration:</b></td>
                          <td id="duration_label"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
