{% extends 'frontend/dashboard-base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Set Your Dates{% endblock %}
{% block date_active %}active{% endblock %}
{% block body %}
<div class="main-panel">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Edit Profile</h4>
              <p class="card-category">Complete your profile</p>
            </div>
            <div class="card-body">
              <br>
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Current Password</label>
                      <input type="password" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">New Password</label>
                      <input type="password" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Re-Enter New Password</label>
                      <input type="password" class="form-control">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Update Password</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
