{% extends 'frontend/dashboard-base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Set Your Dates{% endblock %}
{% block date_active %}active{% endblock %}
{% block body %}
<div class="main-panel">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-success">
              <h4 class="card-title">Next Ovulation Date</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title">22 Jan</h2>
            </div>
            <div class="card-footer">
              <div class="stats">
                Fertilisation Period -
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-warning">
              <h4 class="card-title">Next Period Date</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title">22 Jan </h2>
            </div>
            <div class="card-footer">
              <div class="stats">
                Set your dates
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Profile Completion</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title">51%</h2>
            </div>
            <div class="card-footer">
              <div class="stats">
                 Complete your profile
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
      <div class="card-header card-header-primary">
        <h3 class="card-title">Calendar</h3>
      </div>
      <div class="card-body">
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
